.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f2f5;
  color: #333;
  padding: 20px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.responses {
  flex: 1;
  overflow-y: auto;
  border-radius: 5px;
}

.responseDiv {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e7f3ff;
}

.response {
  padding: 10px;
  align-self: self-start;
  width: 40%;
  border-radius: 5px;
  background-color: #e7f3ff;
}

.responseAnswer {
  padding: 10px;
  align-self: self-end;
  left: 0;
  width: 60%;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #e7f3ff;
}


.question {
  text-align: justify;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  border-radius: 10px;
}

.answer {
  text-align: right;
  color: #333;
  margin-bottom: 5px;
  border-radius: 10px;
}

.loadingDot {
  color: #000;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}